@font-face {
    font-family: mpfont;
    src: url("ITC Machine Medium.otf");
}

@font-face {
    font-family: butfont;
    src: url("Univers Light Condensed Regular.ttf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.techst{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 30vh;
    max-height: 30vh;
    min-width: 100vw;
    justify-content: center;
    font-family: mpfont;
    color: red;
    font-size: 5em;
    align-content: center;
    /* border: 20px solid white; */
}

.norm{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 30vh;
    max-height: 30vh;
    min-width: 100vw;
    justify-content: center;
    font-family: butfont;
    color: white;
    font-size: 5em;
    align-content: center;
    /* border: 20px solid white; */
}

.but{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 40vh;
    justify-content: start;
    align-content: center;
    gap: 50px;
    /* border: 20px solid white; */
}

.butt{
    background: transparent;
    font-family: butfont;
    font-size: xx-large;
    color: darkgray;
    text-align: center;
    border: none;
}

.butt:hover{
    color: white;
}