* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: last baseline;
    flex-direction: row;
    background-image: url("about.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    max-height: 100vh;
    background-position: center;
}

.pan1{
    display: flex;
    min-height: 100vh;
    min-width: 64vh;
    /* border: 20px solid white; */
    align-items: center;
    justify-content: flex-end;
    align-content: center;
}

.pan2{
    display: flex;
    min-height: 100vh;
    min-width: 40vh;
    /* border: 20px solid white; */
    align-items: center;
    justify-content: center;
}

.pan3{
    display: flex;
    min-height: 100vh;
    min-width: 64vh;
    /* border: 20px solid white; */
    align-items: center;
    justify-content: first baseline;
}

.lpan{
    display:flex;
    min-height: 70vh;
    max-height: 70vh;
    min-width: 40vh;
    /* border: 20px solid gray; */
}

.cpan{
    display:flex;
    min-height: 70vh;
    max-height: 70vh;
    min-width: 40vh;
    /* border: 20px solid gray; */
}

.rpan{
    display:flex;
    min-height: 70vh;
    max-height: 70vh;
    min-width: 40vh;
    /* border: 20px solid gray; */
}